#ball {
  text-align: center;
  color: white;
  font-size: 90px;
}

body {
  background-color: rgb(219, 231, 249);
}

h2 {
  font-size: 50px;


}

footer {
  left: 50%;
  transform: translate(-50%);
  position: fixed;
  text-align: center;
  bottom: 3%;
  font-size: 18px;
}

#foot {
  font-size: 16px;
}

#facebook {
  width: 2%;
  position: fixed;
  right: 11%;
  top: 50px;
}


#linkedin {
  width: 2%;
  position: fixed;
  right: 11%;
  top: 20px;
}

li {
  list-style: none;
}

#quests {
  font-size: 26px;
  padding-left: 100px;
}
