<div class= "container">
            {{#link-to 'contact'}}Contact{{/link-to}}<br>
            {{#link-to 'about'}}About{{/link-to}}<br>
            {{#link-to 'new-question'}}Ask!{{/link-to}}<br>
            {{#link-to 'index'}}Home{{/link-to}}
            {{outlet}}

            <footer>

            </footer>

</div>
