<h2>Contact 8-ball</h2>

<p id="quests">For questions or concerns or to report abuse, please contact our staff.</p>

<p id="quests">8-ball Inc.
   123 Seasame St.
   Portland, Or. 97777</p>
<p id="quests">8-ball@8-ball.com</p>
