<h1>8-ball</h1>

<h2>All the answers to life's pressing questions!</h2>

<h2>Questions:</h2>
<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
    {{/each}}
</ul>
