

<h2>All the answers to life's pressing questions!</h2>

<br><h2>Questions:</h2>
<ul>
  {{#each model.questions as |question|}}
    <p id="quests">{{question-tile question=question}}</p>
    {{/each}}
</ul>
