<h2>Ask away</h2>

<ul>
  {{#each model as |question|}}
  <li>
    {{question-detail question=question destroyQuestion="destroyQuestion"}}
    {{update-question question=question update="update" }}
    <button {{action 'delete' question}}>Delete</button>
  </li>
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion" answer=model}}
