<h2>Give it to them straight.</h2>

<ul>
  {{#each model as |answer|}}
  <li>
    {{update-answer answer=answer update="update" }}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
    <button {{action 'delete' answer}}>Delete</button>
  </li>
  {{/each}}
</ul>

{{new-answer saveAnswer="saveAnswer" question=model}}
