<h2>Ask away</h2>

<ul>
  {{#each model as |question|}}
  <li>
    {{update-question question=question update="update" }}
    {{question-tile question=question destroyQuestion="destroyQuestion"}}
    <button {{action 'delete' question}}>Delete</button>
  </li>
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}
